<div id="container">
            <!-- table with: rank#, username, elo, wins/loss -->
            <h1>Team USA Rankings</h1>
            
            <table id="rankings">
                
                <!-- Table Headers -->
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Elo</th>
                    <th>Win</th>
                    <th>Loss</th>
                </tr>
                <!-- End Table Header -->
                
                
                <!-- Users -->
                <tr>
                    <td>1</td>
                    <td>Discern</td>
                    <td>1600</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                
                <tr>
                    <td>2</td>
                    <td>ArtOfTheTroll</td>
                    <td>1600</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
            
            </table>
        
        </div>