<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Team USA Rankings</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="css/style.css">

    </head>
    
    <body>
        
<div id="container">
            <!-- table with: rank#, username, elo, wins/loss -->
            <h1>Team USA Rankings</h1>
            
            <table id="rankings">
                
                <!-- Table Headers -->
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Elo</th>
                    <th>Win</th>
                    <th>Loss</th>
                </tr>
                <!-- End Table Header -->
                
                <!-- Render here -->
                <!-- Users -->

                <% for(var i = 0; i < json.length; i++){ %>
                
                    <tr>
                        <td>
                            <% json[i] %>
                        </td>
                        <td>
                            <% json[i]._username %>
                        </td>
                        <td>
                            <% json[i]._rating %>
                        </td>
                        <td>0</td>
                        <td>0</td>
                        
                    </tr>
                <% }; %>
            
            </table>
        
        </div>

    </body>
</html>